{% extends 'base.html' %}
{% load i18n %}
{% block title %}Actualizando perfil{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col s12 m10 l8 form-register">
            <h2 class="">Formulario de registro</h2>

            <h6>Los campos con * son obligatorios</h6>

            <form method="post" name="update_register" id="update_register" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="card-panel white-text green darken-1"> {{ message }}</div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col l4 m4 s12">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form.username }}
                            <label for="{{ form.username.id_for_label }}"
                                   data-error="{{ form.username.errors|striptags }}"
                                   data-success="Nombre de usuario disponible">{{ form.username.label }}</label>
                        </div>
                    </div>
                    <div class="col l4 m4 s12">
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            {{ form.email }}
                            <label for="{{ form.email.id_for_label }}"
                                   data-error="{{ form.email.errors|striptags }}"
                                   data-success="Email disponible">{{ form.email.label }}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l4 m4 s12">
                        <div class="input-field">
                            <i class="material-icons prefix">text_format</i>
                            {{ form.first_name }}
                            <label for="{{ form.first_name.id_for_label }}"
                                   data-error="{{ form.first_name.errors|striptags }}"
                                   data-success="Nombre correcto">{{ form.first_name.label }}</label>
                        </div>
                    </div>
                    <div class="col l4 m4 s12">
                        <div class="input-field">
                            <i class="material-icons prefix">text_format</i>
                            {{ form.last_name }}
                            <label for="{{ form.last_name.id_for_label }}"
                                   data-error="{{ form.last_name.errors|striptags }}"
                                   data-success="Apellidos correctos">{{ form.last_name.label }}</label>
                        </div>
                    </div>
                    <div class="col l4 m4 s12">
                        <div class="input-field">
                            <i class="material-icons prefix">fingerprint</i>
                            {{ form.dni }}
                            <label for="{{ form.dni.id_for_label }}"
                                   data-error="{{ form.dni.errors|striptags }}"
                                   data-success="DNI correcto">{{ form.dni.label }}</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col l12 m12 s12">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>{{ form.photo.label }}</span>
                                <input id="{{ form.photo.id_for_label }}" type="file" name="photo">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col l12 m12 s12">
                        <button type="submit" form="update_register"
                                class="btn waves-effect waves-light right">
                            Actualizar datos

                        </button>
                    </div>
                </div>
            </form>


            <div class="">

                <!--<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Get Started

                </a>-->
            </div>
        </div>
    </div>

{% endblock content %}