{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}Ponte a prueba - Creando Tema{% endblock title %}
<!-- Wide card with share menu button -->
{% block content %}

    <div class="row col l12 m12 s12 subject-card">
        <h4>Creando un tema de "{{ subject.name }}"</h4>

        <div class="row">

            <div class="col l8 m8 s12 ">
                <form method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col l1 m1 s3">
                            {{ form.cardinality.label_tag }}
                            {{ form.cardinality }}
                            {{ form.cardinality.errors }}
                        </div>
                        <div class="input-field col l8 m8 s6">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                        <div class="input-field col l2 m2 s3">
                            {{ form.value.label_tag }}
                            {{ form.value }}
                            {{ form.value.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            {{ form.description.label_tag }}
                            {{ form.description }}
                            {{ form.description.errors }}
                        </div>


                    </div>
                    <button type="submit" class="btn waves-effect waves-light">Crear otro tema</button>
                    <button type="submit" class="btn orange waves-effect waves-light">Crear preguntas</button>

                    {% comment %}
                    <div class="row">
                        <div class="input-field col s12 m8 l12">
                            {{ form.name }}
                            <label class="validate" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
                        </div>

                        <div class="file-field input-field col s12 m12 l12">
                            <div id="file-uploader" class="">
                                <span>{{ form.image.label }}</span>
                                {{ form.image }}
                            </div>
                        </div>
                        <div class="input-field col s12 m4 l2">
                            {{ form.capacity }}
                            <label class="validate"
                                   for="{{ form.capacity.auto_id }}">{{ form.capacity.label }}</label>
                        </div>
                        <div class="input-field col s12 m4 l2">
                            <input id="id_num_topics" placeholder="0" type="number" maxlength="2"/>
                            <label class="validate"
                                   for="num_topics" name="num_topics">Nº de Temas</label>
                        </div>
                        <div class="input-field col s12 m12 l4 valign-wrapper">
                            <div class="valign">

                                {{ form.test_opt }}
                                <label for="{{ form.test_opt.auto_id }}"> {{ form.test_opt.label }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s12 m12 l12">
                        {{ form.description }}
                        <label class="validate"
                               for="{{ form.description.auto_id }}">{{ form.description.label }}</label>
                    </div>
                    <!--<button type="submit" class="btn waves-effect waves-light">Guardar y salir</button>-->
                    <button type="submit" class="btn waves-effect waves-light">Crear Temas</button>
                    <!--<button type="submit" class="btn waves-effect waves-light right">Crear y seguir con los temas
                    </button>-->
                    {% endcomment %}
                </form>
            </div>
            <div class="list-topics col l4 m4 s12 ">
                <h4>Temas</h4>
                <ol>
                    {% for topic in topics %}
                        <li>
                            <a type="submit" href="{% url 'create_question' topic.subject.id topic.id %}"
                               class="btn waves-effect waves-light">{{ topic.name }}
                                largo</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock content %}