{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}Ponte a prueba - Creando Tema{% endblock title %}
<!-- Wide card with share menu button -->
{% block content %}

    <div class="row">
        <div class="col l12 m12 s12">
            <div class="icons-header">
                {% if edit %}
                    <a href="{% url 'detail_subtopic' subject.id topic.id subtopic.id %}"
                       class="right green btn-large btn-floating waves-effect waves-circle"
                       data-tooltip="Ver detalles del subtema"><i
                            class="material-icons">visibility</i>
                    </a>
                    <h5 class="left teal-text header">{% trans 'Editar subtema' %}:
                    </h5>
                    <h3 class="orange-text">"{{ subtopic.name }}"</h3>
                {% else %}
                    <h5 class="teal-text header">{% trans 'Crear subtema' %}:
                    </h5>
                {% endif %}
                {% comment %}<h5 class="left teal-text title-header">Tema: </h5>
                <h3 class="orange-text header tooltipped" data-position="top" data-delay="50"
                    data-tooltip="Subtema">{{ subtopic.topic.cardinality }}. {{ subtopic.topic.name }}</h3>
                    {% endcomment %}
            </div>
            <div class="row">
                <div class="col l8 m8 s12 ">
                    <div class="row">
                        <div class=" col l12 m12 s12">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="card-panel green lighten-1 card-panel-select" data-panel="null">
                                <span class="white-text ">
                                    <i class="material-icons left">info</i><i
                                        class="material-icons right close">close</i>{{ message }}</span>
                                        </span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col l3 m4 s12">

                                {{ form.gamificar.label_tag }}
                                <div class="switch">
                                    <label>
                                        {% trans 'No' %}
                                        {{ form.gamificar }}
                                        <span class="lever"></span>
                                        {% trans 'Sí' %}
                                    </label>
                                </div>

                            </div>
                            <div class="col l6 m6 s12" id="container_num_question">
                                <div class="input-field">
                                    {{ form.num_questions_gam|add_class:"validate"|add_error_class:"invalid" }}
                                    <label class="validate tooltipped"
                                           data-tooltip="{{ form.num_questions_gam.help_text }}"
                                           for="{{ form.num_questions_gam.id_for_label }}"
                                           data-error="{{ form.num_questions_gam.errors|striptags }}"
                                           data-success="Correcto">{{ form.num_questions_gam.label }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col l2 m2 s3">
                                <label class="validate tooltipped"
                                       data-tooltip="{{ form.cardinality.help_text }}"
                                       for="{{ form.cardinality.id_for_label }}"
                                       data-error="{{ form.cardinality.errors|striptags }}"
                                       data-success="Correcto">{{ form.cardinality.label }}</label>

                                {{ form.cardinality|add_class:"validate"|add_error_class:"invalid" }}

                            </div>
                            <div class="input-field col l8 m8 s6">
                                {{ form.name|add_class:"validate"|add_error_class:"invalid" }}
                                <label class="validate tooltipped"
                                       data-tooltip="{{ form.name.help_text }}"
                                       for="{{ form.name.id_for_label }}"
                                       data-error="{{ form.name.errors|striptags }}"
                                       data-success="Correcto">{{ form.name.label }}</label>
                            </div>
                            <div class="input-field col l2 m2 s3">
                                {{ form.value.label_tag }}
                                {{ form.value|add_class:"validate"|add_error_class:"invalid" }}
                                {{ form.value.errors }}
                            </div>

                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12">
                                {{ form.description|add_class:"validate"|add_error_class:"invalid" }}
                                <label class="validate tooltipped"
                                       data-tooltip="{{ form.description.help_text }}"
                                       for="{{ form.description.id_for_label }}"
                                       data-error="{{ form.description.errors|striptags }}"
                                       data-success="Correcto">{{ form.description.label }}</label>

                            </div>
                        </div>
                        {% if not edit %}
                            <button type="submit" name="create_subtopic"
                                    class="btn waves-effect waves-light">{% trans 'Crear otro subtema' %}
                            </button>
                        {% endif %}

                        {% if edit %}
                            <button type="submit" name="edit_subtopic"
                                    class="btn waves-effect blue waves-light">{% trans 'Actualizar' %}
                            </button>
                            <button type="submit" name="create_question"
                                    class="btn orange waves-effect waves-light">{% trans 'Actualizar y crear preguntas' %}
                            </button>
                        {% else %}
                            <button type="submit" name="create_question"
                                    class="btn orange waves-effect waves-light">{% trans 'Crear y añadir preguntas' %}
                            </button>
                        {% endif %}


                    </form>
                </div>
                <div class="list-topics col l4 m4 s12 ">
                    <h4 class="orange-text header">Subtemas</h4>
                    <ol>
                        {% for subtopic in subtopics %}
                            <li>
                                <a type="submit"
                                   href="{% url 'create_question' subtopic.topic.subject.id subtopic.topic.id subtopic.id %}"
                                   class="btn waves-effect waves-light">{{ subtopic.cardinality }}.{{ subtopic.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script_code %}

    {% if edit %}
        $('textarea').val("{{ form.description.value }}");
    {% endif %}


    var transitionDate = "slide";
    $('#id_gamificar').change(function(){
    if ($('#id_gamificar').prop('checked')) {
    $('#container_num_question').show(transitionDate);
    $('#id_num_questions_gam').val(0);
    } else {
    $('#container_num_question').hide(transitionDate);
    $('#id_num_questions_gam').val(0);
    }
    });



{% endblock %}