<!DOCTYPE html>
{% load static from staticfiles %}

<html>
<head>
    <title>Ponte a prueba</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
    <!-- Styles -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="{% static 'ajaxuploader/css/fileuploader.css' %}" media="screen" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection"/>
    <link rel="stylesheet" href="{% static "css/myStyle.css" %}"/>
    <!-- Scripts -->
</head>
<body>
<header>
    {% include "menu.html" %}
</header>
<main>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>
<footer class="page-footer teal lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>

                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                    content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="white-text right" href="#!">More Links</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.knob.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/test_functions.js" %}"></script>
<script type="text/javascript" src="{% static "ajaxuploader/js/fileuploader.js" %}"></script>
<script>
    var uploader = new qq.FileUploader({
        action: "{% url 'my_ajax_upload' %}",
        element: $('#file-uploader')[0],
        multiple: false,
        customHeaders: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
        onComplete: function (id, fileName, responseJSON) {
            if (responseJSON.success) {
                console.log(responseJSON);
                if( $('.file-path').children().length > 1)
                    $('.file-path').children().first().remove();
                $('[data-name="image_subject"]').attr('src', responseJSON.path);
            } else {
                alert("upload failed!");
            }
        },
        onAllComplete: function (uploads) {
            // uploads is an array of maps
            // the maps look like this: {file: FileObject, response: JSONServerResponse}
            // alert("All complete!");

        },
        params: {
            'csrf_token': '{{ csrf_token }}',
            'csrf_name': 'csrfmiddlewaretoken',
            'csrf_xname': 'X-CSRFToken'
        },
        classes: {
            button: 'upload-image',
            drop: 'qq-upload-drop-area',
            dropActive: 'qq-upload-drop-area-active',
            list: 'file-path',

            file: 'qq-upload-file',
            spinner: 'qq-upload-spinner',
            size: 'qq-upload-size',
            cancel: 'qq-upload-cancel',

            // added to list item when upload completes
            // used in css to hide progress spinner
            success: 'qq-upload-success',
            fail: 'qq-upload-fail'
        },
        template: '<div class="qq-uploader">' +
        '<div class="qq-upload-drop-area"><span>Arrastra aquí para subir el archivo</span></div>' +
        '<div class="upload-image btn">Cambiar imagen</div>' +
        '<div class="file-path-wrapper">' +
        '<ul class="file-path validate li-input" ></ul>' +
        '</div>' +
        '</div>'
    });
</script>
</body>
</html>
