{% load static from staticfiles %}
{% load i18n %}
{% if user.is_authenticated %}
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <a href="/" class="brand-logo center">¿Cuánto sabes?</a>
            <a href="#" data-activates="menu-lateral" class="button-collapse ">
                <div class="chip">
                    <img src="{% static "img/form-register.jpg" %}" alt="Contact Person">
                    {{ user.username }}
                </div>
            </a>

            <ul class="left ">
                {% comment %}<li><a href="{% url 'create_test' %}">Crear TEST</a></li> {% endcomment %}
                <li>
                    <nav>
                        <div class="nav-wrapper">
                            <div class="input-field teal">
                                <input id="search" type="search" placeholder="Buscar Asignatura">
                                <label for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </div>
                    </nav>
                </li>

            </ul>
            <ul class="right hide-on-med-and-down">
                {% comment %}<li><a href="{% url 'create_test' %}">Crear TEST</a></li> {% endcomment %}

                <li><a href="{% url 'create_subject' %}">Crear Asignatura</a></li>
                <!--<li><a href="collapsible.html">Exámenes</a></li>
                <li><a href="mobile.html">Trending</a></li>-->
            </ul>


            <div class="side-nav fixed" id="menu-lateral">

                <div class="row ">
                    <div class="l12">
                        <div class="profile teal lighten-1 center-align">
                            <div class="circle">
                                <input hidden type="text" value="75" class="dial"/>
                                {% if user.userProfile.photo != null %}
                                    <img class="img" width="100%" src="{{ user.userProfile.photo }}">
                                {% else %}
                                    <img class="img" src="/media/profiles/home-peluches.png">
                                {% endif %}

                                <div class="level">
                                    <span class="text-score text-darken-5">1240/3000</span>

                                    <div class="text-level"><span class="num-level text-center opacity-9">6</span></div>
                                </div>
                            </div>
                            <div class="user valign">
                                <span>{{ user.first_name }} {{ user.last_name }}</span>

                                <a href="{% url 'logout' %}" class="waves-effect deep-orange btn btn-logout"
                                   title="Cerrar sesión">
                                    Desconectar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <a class="collapsible-header" href="{% url 'list_subjects' %}"><i class="material-icons">folder_open</i>
                            Mis asignaturas</a>

                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons small">filter_1</i> Mi clasificación
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li class="valign-wrapper"><a class="" href="#!"><i
                                        class="deep-orange-text material-icons valign small">label_outline</i>

                                    <div class="" title="Global">Global</div>
                                </a></li>
                                <li class="valign-wrapper"><a class="" href="#!"><i
                                        class="deep-orange-text material-icons valign small">label_outline</i>

                                    <div class="" title="Asignatura con nombre largo">Por asignatura
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="achievements.html" class="collapsible-header"><i class="material-icons">stars</i> Mis
                            logros
                        </a>

                    </li>
                    {% comment %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons small">settings</i> Configuración
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                <li class="valign-wrapper"><a class="" href="#!"><i
                                        class="deep-orange-text material-icons valign small">label_outline</i>

                                    <div class="" title="Asignatura con nombre largo">Perfil</div>
                                </a></li>
                                <li class="valign-wrapper"><a class="" href="#!"><i
                                        class="deep-orange-text material-icons valign small">label_outline</i>

                                    <div class="" title="Asignatura con nombre largo">Seguridad
                                    </div>
                                </a></li>
                                <li class="valign-wrapper"><a class="" href="#!"><i
                                        class="deep-orange-text material-icons valign small">label_outline</i>

                                    <div class="" title="Asignatura con nombre largo">Mensajes
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                    </li>
                    {% endcomment %}
                    <li>
                        <a class="collapsible-header" href='{% url 'edit_profile' user.username %}'><i
                                class="material-icons">person_outline</i>
                            Perfil</a>


                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% else %}
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <div class="row">
                <div class="col s12 l12 m12">

                    <a href="/" class="brand-logo center">¿Cuánto sabes?</a>
                    <a class="waves-effect deep-orange btn btn-login"
                       title="Iniciar sesión" href="/user/login">
                        Iniciar sesión
                    </a>

                    <a href="{% url 'registration_register' %}" class="waves-effect deep-orange btn btn-login"
                       title="Iniciar sesión">
                        Registrarme
                    </a>
                </div>
                <div class="side-nav hide" id="menu-lateral">
                </div>
            </div>
            <!--  <ul class="right hide-on-med-and-down">
                  <li><a href="subject.html">Crear Asignatura</a></li>
                  <li><a href="collapsible.html">Exámenes</a></li>
                  <li><a href="mobile.html">Trending</a></li>
              </ul>-->
        </div>

    </nav>

    <!-- Modal Structure -->
    <div id="modal_login" class="modal col s12">
        <form name="form_login" class="col s12" method="POST">{% csrf_token %}
            <div class="modal-content">
                <h4>Iniciar sesión</h4>

                <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input name="username" id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Usuario</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">fiber_pin</i>
                            <input name="password" id="icon_telephone" type="password" class="validate">
                            <label for="icon_telephone">Contraseña</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit"
                        class=" modal-action waves-effect waves-light btn ">Entrar <i
                        class="material-icons left">play_circle_outline</i></button>
                <button class=" modal-action modal-close waves-effect waves-light btn btn-flat ">Salir <i
                        class="material-icons left">power_settings_new</i></button>
            </div>
        </form>

    </div>
{% endif %}
