{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Iniciar sesión" %}{% endblock %}

{% block content %}
    <div class="container-login">
        <form method="post" action="">
            {% csrf_token %}
            {% if form.errors %}
                <div class="card-panel white-text red darken-1">{% trans "Por favor, inserte un nombre de usuario y contraseña correctos, nótese que el texto es sensible a mayúsculas" %}</div>
            {% endif %}
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input name="username" id="username" type="text" class="validate">
                <label for="username">Usuario</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">fiber_pin</i>
                <input name="password" id="password" type="password" class="validate">
                <label for="password">Contraseña</label>
            </div>
            <button type="submit" class="btn waves-effect waves-light">{% trans 'Iniciar sesión' %}</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>

        <p>{% trans "¿Olvidaste la contraseña?" %} <a
                href="{% url 'auth_password_reset' %}"> {% trans "Resetear contraseña" %}</a>.</p>

        <p>{% trans "¿Todavía no te has registrado?" %} <a
                href="{% url 'registration_register' %}">{% trans "Registrarse" %}</a>.</p>
    </div>
{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}