<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Ponte a prueba</title>
    <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/prism-default.css' %}">
    <link rel="stylesheet" href="{% static 'css/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/myStyle.css' %}">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en'
          rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Scripts -->
    <!-- Material Design Lite -->
    <script src="{% static 'js/material.min.js' %}"></script>
    <!-- Add Copy-to-CodePen buttons to code blocks -->
    <script src="{% static 'js/codepen.js' %}"></script>

</head>
<body>

<div class="mdl-layout__container">
    {% block structure %}{% endblock structure %}
</div>


</body>
</html>
