{% extends 'base.html' %}

{% block title %}Ponte a prueba{% endblock title %}

{% block structure %}
    <div class="mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--waterfall">
            <!-- Top row, always visible -->
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <a class="mdl-layout-title mdl-color-text--white" href="/">¿Cuánto sabes?</a>

                <div class="mdl-layout-spacer"></div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                    <label class="mdl-button mdl-js-button mdl-button--icon"
                           for="waterfall-exp">
                        <i class="material-icons">search</i>
                    </label>

                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" name="sample"
                               id="waterfall-exp"/>
                    </div>
                </div>
            </div>
            <!-- Bottom row, not visible on scroll -->
            <!--<div class="mdl-layout__header-row">
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation --
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>-->
        </header>
        <div class="mdl-layout__drawer">
            <div class="mdl-cell--12-col header-layout-float mdl-color--blue-800 text-session">
                <div class="section__circle-container mdl-cell mdl-cell--6-col">
                    <div class="section__circle-container__circle image-circle"></div>
                </div>

                <span class="text-session">¿Aún no te has registrado?</span>

                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="/accounts/register">
                    <span class="mdl-layout-title text-lateral">¡ Registrarme !</span>
                </a>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded ms-center mdl-cell--11-col "
                 data-upgraded=",MaterialTextfield">
                <form name="form_login" id="form_login" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form_login %}
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <label class="mdl-textfield__label" for="{{ field.name }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                </form>
            </div>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" form="form_login">
                <span class="mdl-layout-title text-lateral">Iniciar Sesión</span>
            </button>

            <!--<nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
            </nav>-->
        </div>
        <div class="mdl-layout__content">
            <div class="page-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock structure %}