{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}Ponte a prueba - Creando asignatura{% endblock title %}
<!-- Wide card with share menu button -->
{% block content %}

    <div class="row col l12 m12 s12 subject-card">
        <h3>Mis asignaturas</h3>

        <div class="row">
            {% for subject in subjects %}
                <div class="col l4 m4 s6">
                    <div class="card small subject-card">
                        <div class="card-image">
                            <a class="btn-floating btn waves-effect waves-light red container-floating-num tooltipped"
                               data-position="top" data-delay="50" data-tooltip="Capacidad de alumnos"><span
                                    class="num-limit" data-name="capacity">{{ subject.capacity }}</span></a>
                            <a class="btn-floating btn waves-effect waves-light mdl-color--teal-100 container-floating-num tooltipped"
                               data-position="top" data-delay="50" data-tooltip="Número de temas"><span
                                    class="num-limit" data-name="num_topics">{{ subject.num_topics }}</span></a>

                            <div class="container-img">
                                {% if subject.image %}
                                    <img data-name="image_subject" src="{% static subject.image.url %}">
                                {% else %}
                                    <img data-name="image_subject" src="/media/profiles/home-peluches.png">
                                {% endif %}

                            </div>
                            <span class="card-title" data-name="subject_name">{{ subject.name }}</span>
                        </div>
                        <div class="card-content min-height-card">
                            <i class="material-icons red-text left">clear</i><span
                                data-name="description">{{ subject.description }}</span>
                            <div class="card-action">
                                {% if subject.test_opt %}
                                    <span data-name="text_opt"><i class="material-icons green-text left">done</i> Acceder al examen final directamente</span>
                                {% else %}
                                    <span data-name="text_opt"><i class="material-icons red-text left">clear</i> Acceder al examen final directamente</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}