{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}Ponte a prueba - Creando asignatura{% endblock title %}
<!-- Wide card with share menu button -->
{% block content %}
    <div class="row">
        <div class="col l10 m12 s12 subject-card">
            <h2 class="teal-text header">{% trans 'Mis asignaturas' %}</h2>
            <div class="divider"></div>
            <h4 class="orange-text" id="section_creadas" data-scrollspy="true">{% trans 'Creadas' %}</h4>
            <div class="row">
                {% for subject in subjects %}
                    <div class="col l4 m6 s12 ">
                        {% include 'subject/subject_card.html' %}
                    </div>
                {% empty %}
                    <h5 class="teal-text">Todavía no tiene ninguna asignatura, <a href="{% url 'create_subject' %}">¡pinche
                        aquí para crear una ahora!</a></h5>
                {% endfor %}
            </div>
            <div class="divider"></div>

            <h4 class="orange-text" id="section_matriculadas" data-scrollspy="true">{% trans 'Matriculadas' %}</h4>
            <div class="row">
                {% for subject in my_subjects %}
                    <div class="col l4 m6 s12 ">
                        {% include 'subject/subject_card.html' %}
                    </div>
                {% empty %}
                    <h5 class="teal-text">{% trans '¡Todavía no te has matriculado en ninguna asignatura! ¡Búsquela arriba en el buscador y matricúlese!' %}</h5>
                {% endfor %}
            </div>
        </div>
        <div class="col hide-on-med-and-down l2">
            <div class="table-of-contents" id="table_of_contents">
            </div>
        </div>
    </div>
{% endblock content %}

{% block script_code %}

    addScrollSpy("{% trans 'Tabla de contenidos' %}");

{% endblock %}